<div inline-datepicker data-date='11/01/2022' class='p-4 text-xs'>
  <div class='datepicker datepicker-inline active block'>
    <div
      class='datepicker-picker inline-block rounded-lg bg-white dark:bg-gray-700 shadow-lg p-4'
    >
      <div class='datepicker-header'>
        <div
          class='datepicker-title bg-white dark:bg-gray-700 dark:text-white px-2 py-3 text-center font-semibold'
          style='display: none;'
        ></div>
        <div class='datepicker-controls flex justify-between mb-2'><button
            type='button'
            class='bg-white dark:bg-gray-700 rounded-lg text-gray-500 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-600 hover:text-gray-900 dark:hover:text-white text-lg p-2.5 focus:outline-none focus:ring-2 focus:ring-gray-200 prev-btn'
          ><svg
              class='w-4 h-4'
              fill='currentColor'
              viewBox='0 0 20 20'
              xmlns='http://www.w3.org/2000/svg'
            >
              <path
                fill-rule='evenodd'
                d='M9.707 16.707a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414l6-6a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l4.293 4.293a1 1 0 010 1.414z'
                clip-rule='evenodd'
              ></path>
            </svg></button><button
            type='button'
            class='text-sm rounded-lg text-gray-900 dark:text-white bg-white dark:bg-gray-700 font-semibold py-2.5 px-5 hover:bg-gray-100 dark:hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-gray-200 view-switch'
          >February 2022</button><button
            type='button'
            class='bg-white dark:bg-gray-700 rounded-lg text-gray-500 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-600 hover:text-gray-900 dark:hover:text-white text-lg p-2.5 focus:outline-none focus:ring-2 focus:ring-gray-200 next-btn'
          ><svg
              class='w-4 h-4'
              fill='currentColor'
              viewBox='0 0 20 20'
              xmlns='http://www.w3.org/2000/svg'
            >
              <path
                fill-rule='evenodd'
                d='M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z'
                clip-rule='evenodd'
              ></path>
            </svg></button></div>
      </div>
      <div class='datepicker-main p-1'>
        <div class='datepicker-view flex'>
          <div class='days'>
            <div class='days-of-week grid grid-cols-7 mb-1'><span
                class='dow text-center h-6 leading-6 text-xs font-medium text-gray-500 dark:text-gray-400'
              >Su</span><span
                class='dow text-center h-6 leading-6 text-xs font-medium text-gray-500 dark:text-gray-400'
              >Mo</span><span
                class='dow text-center h-6 leading-6 text-xs font-medium text-gray-500 dark:text-gray-400'
              >Tu</span><span
                class='dow text-center h-6 leading-6 text-xs font-medium text-gray-500 dark:text-gray-400'
              >We</span><span
                class='dow text-center h-6 leading-6 text-xs font-medium text-gray-500 dark:text-gray-400'
              >Th</span><span
                class='dow text-center h-6 leading-6 text-xs font-medium text-gray-500 dark:text-gray-400'
              >Fr</span><span
                class='dow text-center h-6 leading-6 text-xs font-medium text-gray-500 dark:text-gray-400'
              >Sa</span>
            </div>
            <div class='datepicker-grid w-56 grid grid-cols-7'><span
                class='datepicker-cell hover:bg-gray-100 dark:hover:bg-gray-600 block flex-1 leading-9 border-0 rounded-lg cursor-pointer text-center text-gray-900 dark:text-white font-semibold text-xs day prev text-gray-500'
                data-date='1643493600000'
              >30</span><span
                class='datepicker-cell hover:bg-gray-100 dark:hover:bg-gray-600 block flex-1 leading-9 border-0 rounded-lg cursor-pointer text-center text-gray-900 dark:text-white font-semibold text-xs day prev text-gray-500'
                data-date='1643580000000'
              >31</span><span
                class='datepicker-cell hover:bg-gray-100 dark:hover:bg-gray-600 block flex-1 leading-9 border-0 rounded-lg cursor-pointer text-center text-gray-900 dark:text-white font-semibold text-xs day'
                data-date='1643666400000'
              >1</span><span
                class='datepicker-cell hover:bg-gray-100 dark:hover:bg-gray-600 block flex-1 leading-9 border-0 rounded-lg cursor-pointer text-center text-gray-900 dark:text-white font-semibold text-xs day'
                data-date='1643752800000'
              >2</span><span
                class='datepicker-cell hover:bg-gray-100 dark:hover:bg-gray-600 block flex-1 leading-9 border-0 rounded-lg cursor-pointer text-center text-gray-900 dark:text-white font-semibold text-xs day'
                data-date='1643839200000'
              >3</span><span
                class='datepicker-cell hover:bg-gray-100 dark:hover:bg-gray-600 block flex-1 leading-9 border-0 rounded-lg cursor-pointer text-center text-gray-900 dark:text-white font-semibold text-xs day'
                data-date='1643925600000'
              >4</span><span
                class='datepicker-cell hover:bg-gray-100 dark:hover:bg-gray-600 block flex-1 leading-9 border-0 rounded-lg cursor-pointer text-center text-gray-900 dark:text-white font-semibold text-xs day'
                data-date='1644012000000'
              >5</span><span
                class='datepicker-cell hover:bg-gray-100 dark:hover:bg-gray-600 block flex-1 leading-9 border-0 rounded-lg cursor-pointer text-center text-gray-900 dark:text-white font-semibold text-xs day'
                data-date='1644098400000'
              >6</span><span
                class='datepicker-cell hover:bg-gray-100 dark:hover:bg-gray-600 block flex-1 leading-9 border-0 rounded-lg cursor-pointer text-center text-gray-900 dark:text-white font-semibold text-xs day'
                data-date='1644184800000'
              >7</span><span
                class='datepicker-cell hover:bg-gray-100 dark:hover:bg-gray-600 block flex-1 leading-9 border-0 rounded-lg cursor-pointer text-center text-gray-900 dark:text-white font-semibold text-xs day'
                data-date='1644271200000'
              >8</span><span
                class='datepicker-cell hover:bg-gray-100 dark:hover:bg-gray-600 block flex-1 leading-9 border-0 rounded-lg cursor-pointer text-center text-gray-900 dark:text-white font-semibold text-xs day'
                data-date='1644357600000'
              >9</span><span
                class='datepicker-cell hover:bg-gray-100 dark:hover:bg-gray-600 block flex-1 leading-9 border-0 rounded-lg cursor-pointer text-center text-gray-900 dark:text-white font-semibold text-xs day'
                data-date='1644444000000'
              >10</span><span
                class='datepicker-cell hover:bg-gray-100 dark:hover:bg-gray-600 block flex-1 leading-9 border-0 rounded-lg cursor-pointer text-center text-gray-900 dark:text-white font-semibold text-xs day'
                data-date='1644530400000'
              >11</span><span
                class='datepicker-cell hover:bg-gray-100 dark:hover:bg-gray-600 block flex-1 leading-9 border-0 rounded-lg cursor-pointer text-center text-gray-900 dark:text-white font-semibold text-xs day'
                data-date='1644616800000'
              >12</span><span
                class='datepicker-cell hover:bg-gray-100 dark:hover:bg-gray-600 block flex-1 leading-9 border-0 rounded-lg cursor-pointer text-center text-gray-900 dark:text-white font-semibold text-xs day'
                data-date='1644703200000'
              >13</span><span
                class='datepicker-cell hover:bg-gray-100 dark:hover:bg-gray-600 block flex-1 leading-9 border-0 rounded-lg cursor-pointer text-center text-gray-900 dark:text-white font-semibold text-xs day'
                data-date='1644789600000'
              >14</span><span
                class='datepicker-cell hover:bg-gray-100 dark:hover:bg-gray-600 block flex-1 leading-9 border-0 rounded-lg cursor-pointer text-center text-gray-900 dark:text-white font-semibold text-xs day'
                data-date='1644876000000'
              >15</span><span
                class='datepicker-cell hover:bg-gray-100 dark:hover:bg-gray-600 block flex-1 leading-9 border-0 rounded-lg cursor-pointer text-center text-gray-900 dark:text-white font-semibold text-xs day'
                data-date='1644962400000'
              >16</span><span
                class='datepicker-cell hover:bg-gray-100 dark:hover:bg-gray-600 block flex-1 leading-9 border-0 rounded-lg cursor-pointer text-center text-gray-900 dark:text-white font-semibold text-xs day'
                data-date='1645048800000'
              >17</span><span
                class='datepicker-cell hover:bg-gray-100 dark:hover:bg-gray-600 block flex-1 leading-9 border-0 rounded-lg cursor-pointer text-center text-gray-900 dark:text-white font-semibold text-xs day'
                data-date='1645135200000'
              >18</span><span
                class='datepicker-cell hover:bg-gray-100 dark:hover:bg-gray-600 block flex-1 leading-9 border-0 rounded-lg cursor-pointer text-center text-gray-900 dark:text-white font-semibold text-xs day'
                data-date='1645221600000'
              >19</span><span
                class='datepicker-cell hover:bg-gray-100 dark:hover:bg-gray-600 block flex-1 leading-9 border-0 rounded-lg cursor-pointer text-center text-gray-900 dark:text-white font-semibold text-xs day'
                data-date='1645308000000'
              >20</span><span
                class='datepicker-cell hover:bg-gray-100 dark:hover:bg-gray-600 block flex-1 leading-9 border-0 rounded-lg cursor-pointer text-center text-gray-900 dark:text-white font-semibold text-xs day'
                data-date='1645394400000'
              >21</span><span
                class='datepicker-cell hover:bg-gray-100 dark:hover:bg-gray-600 block flex-1 leading-9 border-0 rounded-lg cursor-pointer text-center text-gray-900 dark:text-white font-semibold text-xs day'
                data-date='1645480800000'
              >22</span><span
                class='datepicker-cell hover:bg-gray-100 dark:hover:bg-gray-600 block flex-1 leading-9 border-0 rounded-lg cursor-pointer text-center text-gray-900 dark:text-white font-semibold text-xs day'
                data-date='1645567200000'
              >23</span><span
                class='datepicker-cell hover:bg-gray-100 dark:hover:bg-gray-600 block flex-1 leading-9 border-0 rounded-lg cursor-pointer text-center text-gray-900 dark:text-white font-semibold text-xs day'
                data-date='1645653600000'
              >24</span><span
                class='datepicker-cell block flex-1 leading-9 border-0 rounded-lg cursor-pointer text-center font-semibold text-xs day selected bg-blue-700 text-white dark:bg-blue-600 focused'
                data-date='1645740000000'
              >25</span><span
                class='datepicker-cell hover:bg-gray-100 dark:hover:bg-gray-600 block flex-1 leading-9 border-0 rounded-lg cursor-pointer text-center text-gray-900 dark:text-white font-semibold text-xs day'
                data-date='1645826400000'
              >26</span><span
                class='datepicker-cell hover:bg-gray-100 dark:hover:bg-gray-600 block flex-1 leading-9 border-0 rounded-lg cursor-pointer text-center text-gray-900 dark:text-white font-semibold text-xs day'
                data-date='1645912800000'
              >27</span><span
                class='datepicker-cell hover:bg-gray-100 dark:hover:bg-gray-600 block flex-1 leading-9 border-0 rounded-lg cursor-pointer text-center text-gray-900 dark:text-white font-semibold text-xs day'
                data-date='1645999200000'
              >28</span><span
                class='datepicker-cell hover:bg-gray-100 dark:hover:bg-gray-600 block flex-1 leading-9 border-0 rounded-lg cursor-pointer text-center text-gray-900 dark:text-white font-semibold text-xs day next text-gray-500'
                data-date='1646085600000'
              >1</span><span
                class='datepicker-cell hover:bg-gray-100 dark:hover:bg-gray-600 block flex-1 leading-9 border-0 rounded-lg cursor-pointer text-center text-gray-900 dark:text-white font-semibold text-xs day next text-gray-500'
                data-date='1646172000000'
              >2</span><span
                class='datepicker-cell hover:bg-gray-100 dark:hover:bg-gray-600 block flex-1 leading-9 border-0 rounded-lg cursor-pointer text-center text-gray-900 dark:text-white font-semibold text-xs day next text-gray-500'
                data-date='1646258400000'
              >3</span><span
                class='datepicker-cell hover:bg-gray-100 dark:hover:bg-gray-600 block flex-1 leading-9 border-0 rounded-lg cursor-pointer text-center text-gray-900 dark:text-white font-semibold text-xs day next text-gray-500'
                data-date='1646344800000'
              >4</span><span
                class='datepicker-cell hover:bg-gray-100 dark:hover:bg-gray-600 block flex-1 leading-9 border-0 rounded-lg cursor-pointer text-center text-gray-900 dark:text-white font-semibold text-xs day next text-gray-500'
                data-date='1646431200000'
              >5</span><span
                class='datepicker-cell hover:bg-gray-100 dark:hover:bg-gray-600 block flex-1 leading-9 border-0 rounded-lg cursor-pointer text-center text-gray-900 dark:text-white font-semibold text-xs day next text-gray-500'
                data-date='1646517600000'
              >6</span><span
                class='datepicker-cell hover:bg-gray-100 dark:hover:bg-gray-600 block flex-1 leading-9 border-0 rounded-lg cursor-pointer text-center text-gray-900 dark:text-white font-semibold text-xs day next text-gray-500'
                data-date='1646604000000'
              >7</span><span
                class='datepicker-cell hover:bg-gray-100 dark:hover:bg-gray-600 block flex-1 leading-9 border-0 rounded-lg cursor-pointer text-center text-gray-900 dark:text-white font-semibold text-xs day next text-gray-500'
                data-date='1646690400000'
              >8</span><span
                class='datepicker-cell hover:bg-gray-100 dark:hover:bg-gray-600 block flex-1 leading-9 border-0 rounded-lg cursor-pointer text-center text-gray-900 dark:text-white font-semibold text-xs day next text-gray-500'
                data-date='1646776800000'
              >9</span><span
                class='datepicker-cell hover:bg-gray-100 dark:hover:bg-gray-600 block flex-1 leading-9 border-0 rounded-lg cursor-pointer text-center text-gray-900 dark:text-white font-semibold text-xs day next text-gray-500'
                data-date='1646863200000'
              >10</span><span
                class='datepicker-cell hover:bg-gray-100 dark:hover:bg-gray-600 block flex-1 leading-9 border-0 rounded-lg cursor-pointer text-center text-gray-900 dark:text-white font-semibold text-xs day next text-gray-500'
                data-date='1646949600000'
              >11</span><span
                class='datepicker-cell hover:bg-gray-100 dark:hover:bg-gray-600 block flex-1 leading-9 border-0 rounded-lg cursor-pointer text-center text-gray-900 dark:text-white font-semibold text-xs day next text-gray-500'
                data-date='1647036000000'
              >12</span></div>
          </div>
        </div>
      </div>
      <div class='datepicker-footer'>
        <div class='datepicker-controls flex space-x-2 mt-2'><button
            type='button'
            class='button today-btn text-white bg-blue-700 dark:bg-blue-600 hover:bg-blue-800 dark:hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-xs px-5 py-2 text-center w-1/2'
            style='display: none;'
          >Today</button><button
            type='button'
            class='button clear-btn text-gray-900 dark:text-white bg-white dark:bg-gray-700 border border-gray-300 dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-600 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-xs px-5 py-2 text-center w-1/2'
            style='display: none;'
          >Clear</button></div>
      </div>
    </div>
  </div>
</div>