<!-- content.course.handlebars -->
<div class="reading_content">
    <div class="mx-auto mt-10">
        <div class="tab-content h-auto">
            <form method="post" id="general-form" enctype="multipart/form-data" action="/course-edit">
                <input type="hidden" name="courseId" id="courseId" value="{{path.courseId}}">
                <!-- general -->
                {{> course-edit.general}}
                <!-- general -->
                {{> course-edit.lessons}}
                <div class="tab-pane text-white">Content for Tab 3</div>
                <div class="tab-pane text-white">Content for Tab 4</div>
            </form>
        </div>
    </div>
</div>
<script type="application/javascript" src="/js/editor-tabs.js"></script>
<script type="application/javascript" src="/js/md-editors.js"></script>
<script type="application/javascript" src="/js/sync-ois.js"></script>
<script type="application/javascript" src="/js/submit-edit.js"></script>
