<div style='max-width:70ch;'>

  <!-- Viitab app.js failis "content" optionile, mis antakse iga res.render() funktsiooniga kaasa. 
  "Content" option sisaldab github APIga päritud about.md faili, mis on dekodeeritud ja mille markdown on lahti renderdatud -->
  {{{content}}}

  <!-- NB! Sources are sent only with "Teemade endpointid" axios call. If sourcesJSON stays NULL (is false), then content.handlebars does not display "Allikad"" div. If sourcesJSON gets filled (is true), then "Allikad" div is displayed. -->
  {{#if sources}}
    <div class='sources'>
      <h6>Allikad:</h6>
      <ul>
        {{#each sources}}
          <li><a href='{{this.url}}'>{{this.description}}</a></li>
        {{/each}}
      </ul>
    </div>
  {{/if}}

  <br>
  <div class="navigation-buttons" style="display: flex; justify-content: end; gap: 10px" >
    <button type="button" style="background-color: rgb(178, 178, 178); color: white; black; border: 1px solid; padding: 10px" >Eelmine</button> 
    <button type="button" style="background-color: rgb(3, 200, 3); color: white; border: 1px solid; padding: 10px" >Märgi läbituks (liigu edasi)</button> 
  </div>

</div>