<div class='reading_content flex flex-col justify-center text-center'>
  <img src="/images/404notfound.jpg" id="404notfound" alt="Lehekülge ei leitud">

  <h2>Lehekülge ei leitud</h2>
  <h4>Sind suunatakse tagasi avalehele...</h4>
  
</div>

<script>
  setTimeout(function () {
     // redirect to homepage after 3 seconds
     window.location = "/";
  }, 3000)
</script>