<div class='reading_content'>

  <h1>Eelseisvad ülesanded</h1>
  <h2>Uurimistöö I</h2>
  <p>Uurida iseseisvalt erinevaid lahendusi, tee ise valitud näite põhjal
    analoogne lahendus ja esita</p>
  <p>Tähtaeg: 25.11.2022</p>
  <p>Esitatud</p>
  <h2>Riistvara ja operatsioonisüsteemide alused</h2>
  <p>Uurida iseseisvalt erinevaid lahendusi, tee ise valitud näite põhjal
    analoogne lahendus ja esita</p>
  <p>Tähtaeg: 25.11.2023</p>
  <p>Esitamata</p>
</div>