<div class='reading_content'>

  <h1>Eelseisvad ülesanded</h1>
  <h2>Uurimistöö I</h2>
  <p>Uurida iseseisvalt erinevaid lahendusi, tee ise valitud näite põhjal
    analoogne lahendus ja esita</p>
  <p>Tähtaeg: 25.11.2022</p>

  <strong class='text-success flex'><span
      class='material-symbols-outlined pr-1'
    >check_circle</span>Esitatud</strong>
  <hr class='text-secondary-400' />
  <br />

  <h2>Riistvara ja operatsiooni&shy;süsteemide alused</h2>
  <p>Uurida iseseisvalt erinevaid lahendusi, tee ise valitud näite põhjal
    analoogne lahendus ja esita</p>
  <p>Tähtaeg: 25.11.2023</p>
  <strong class='text-brand_red flex'><span
      class='material-symbols-outlined pr-1'
    >radio_button_unchecked</span>Esitamata</strong>
</div>