{{#if courses }}
  <h2>Teated</h2>
  <div class="">
    <div class="grid gap-2 pt-4 pl-4 pb-4">
      <h4>Siia tulevad teated</h4>
      - Aine muudatus: madala priotiteediga (aine repo commitid) <br>
      - Lisatud kodutöö: oluline <br>
      - Muudetud kodutöö tähtaeg: oluline <br>
      - Õppejõu teade tiimile: oluline <br>
    </div>
  </div>
{{/if }}