<!-- dashboard-teacher.courses.handlebars -->
  <div>
    <h2>Sinu õpetatavad kursused</h2>
      <div class='max-w-30 flex flex-col gap-4'>
        {{#unless courses }}  
          <div class='text-md font-bold mt-4 ml-4'>Sul pole mitte ühtegi õpetatavat kursust.</div>
          <p class='mt-4 ml-4'>Kui see ei tundu õige, võta ühendust Martti Raaveliga: <a href = "mailto: mrt@tlu.ee">mrt@tlu.ee</a></p>
        {{/unless }}
        {{#if courses }}
          <div class="flex flex-row justify-start gap-x-4 pt-2 pb-4">
            <form method="POST" action="/courses-display-by" name="displayByName" id="displayByName">
              <!-- Hidden form inputs to send req.body values -->
              <input type="hidden" name="coursesDisplayBy" id="coursesDisplayBy" value="name" >
              <button name="displayByNameButton" class="btn {{#if_equal coursesDisplayBy 'name'}} btn-primary{{else}}btn-secondary{{/if_equal}}">Nime järgi</button>
            </form>
            <form method="POST" action="/courses-display-by" name="displayBySemester" id="displayBySemester">
              <!-- Hidden form inputs to send req.body values -->
              <input type="hidden" name="coursesDisplayBy" id="coursesDisplayBy" value="semester" >
              <button name="displayBySemesterButton" class="btn {{#if_equal coursesDisplayBy 'semester'}}btn-primary{{else}}btn-secondary{{/if_equal}}">Semestri järgi</button>
            </form>
          </div>
          
          {{#if_equal coursesDisplayBy 'name' }}
            {{#each ../courses}}
              {{> dashboard-course-component 
                user=../../user
                teachers=../../teachers }}
            {{/each}}
          {{/if_equal}}
          <!-- list with month -->
          {{#if_equal coursesDisplayBy 'semester' }}
            {{#each ../courses }}
               <div>
              <div class="font-bold">{{@key}}</div>
              {{#each this }}
                {{> dashboard-course-component 
                user=../../../user
                teachers=../../../teachers }}
              {{/each }}
              </div>
            {{/each }}
          {{/if_equal }}

        {{/if }}
    </div>
  </div> 