<nav class='p-8 bg-neutral-200 text-sm'>
  <p class="my-1">Haapsalu kolledž</p>
  <address class="flex justify-between not-italic">
    <p class="m-0">Lihula mnt 12/1, 90507, Haapsalu linn Läänemaa</p>
    <a href="mailto:kolledz@hk.tlu.ee">kolledz@hk.tlu.ee<a><br>
    <a href="tel:+3724720240">+372 472 0240</a>
  </address>
</nav>




