<!-- Siia võid tavapäraselt headerit ehitada. CSS lisa /public/css/main.css faili -->
<p class='pt-8 text-3xl bg-indigo'>Rakendusinformaatika kursus</p>
<p class='pb-8'>Parim rakendusinformaatika haridus</p>
<nav class='flex justify-between'>
  <img
    class='px-8 py-2'
    src='images/tly-logo.svg'
    alt='Tallinna Ülikooli logo'
    style='max-height: 100px;'
  />
  <ul class='flex'>
    <li class='px-8 py-2'>Esileht</li>
    <li class='px-8 py-2'>Meist</li>
    <li class='px-8 py-2'>Kontakt</li>
  </ul>
</nav>