<!-- Siia võid tavapäraselt headerit ehitada. CSS lisa /public/css/main.css faili -->

<header>
  <nav>
    <div>
      <div class='text-primary bg-secondary p-6'>Logo0o</div>
    </div>
    <div>
      <li>Home</li>
      <li>About</li>
      <li>Contact</li>
    </div>
  </nav>
</header>