<!-- Siia võid tavapäraselt headerit ehitada. CSS lisa /public/css/main.css faili -->
<p class='text-6xl bg-indigo'>Rakendusinformaatika kursus</p>
<p class='pb-8'>Parim rakendusinformaatika haridus</p>
<nav class='flex justify-between'>
  <div>Logo</div>
  <ul class='flex'>
    <li>Esileht</li>
    <li>Meist</li>
    <li>Kontakt</li>
  </ul>
</nav>