<nav
  class='sidebar flex justify-between items-start absolute lg:relative left-[-100vw] lg:left-0 mt-[-2.5rem] lg:mt-auto w-full lg:w-auto transition-all'
  id='sidebar'
>

  <div>
    <h3>Kõik kursused</h3>
    <ul>
      {{#each courses}}
        <li>
          <a
            class='hover:!underline !no-underline'
            href='/{{this.courseSlug}}'
          >{{this.courseName}} ({{this.courseCode}})</a>
        </li>
      {{/each}}
    </ul>

  </div>

  <span
    onclick='closeSideMenu()'
    class='material-symbols-outlined mt-[-1.5rem] lg:mt-auto text-4xl cursor-pointer lg:hidden'
  >
    close
  </span>

</nav>