<nav class="sidebar h-fit relative lg:sticky top-0" id="sidebar">
    
    <!-- sidebar sticky behavior beginning from lg size -->
    <div class="p-2 lg:max-h-screen drop-shadow-2xl w-full text-sm">

      {{{ ToC }}}
 
    </div>
  
</nav>


