<nav class='sidebar' id='sidebar'>
  <h3>Kõik kursused</h3>

  <ul>
    {{#each courses}}
      <li class='hover:underline'>
        <a href='/{{this.courseSlug}}'>{{this.courseName}}</a>
      </li>
    {{/each}}
    <br />
  </ul>
</nav>