<!-- sidebar-left.course.handlebars -->
<nav class="sidebar h-fit relative md:sticky top-36 md:top-52 lg:top-36" id="sidebar">
    <!-- sidebar sticky behavior beginning from lg size -->
    <div class="p-2 w-full">
        <div class="sidebarheight card !p-6">
            <div class="mb-4 pr-4">
                <!-- Topic name and code -->
                <button class="tab-btn w-full text-left hover:border-link-action">Üldinfo</button>
                <button class="tab-btn w-full text-left">Loengud</button>
                <button class="tab-btn w-full text-left">Sisuteemad</button>
                <button class="tab-btn w-full text-left">Praktikumid</button>
            </div>
        </div>
    </div>
</nav>


