<!-- sidebar-right.anchor.handlebars -->
<nav class="card !p-6 lg:!p-6 top-36 md:top-[13.5rem] lg:top-[9.5rem] h-fit relative md:sticky"
     id="sidebar-course-anchor">

    <!-- Branch (version) selection menu. Only visible to 'teachers' team -->

    {{#if_equal path.refBranch 'master'}}
        {{#unless (isTeacher user)}}

            <div class="card-header m-0">Versioonid:</div>
            <div class="pl-2 pb-4 mt-4 space-y-1 text-sm flex flex-col gap-2">
                <button class="btn btn-primary my-4">Avalda</button>
                <button class="btn btn-primary my-4">Salvesta</button>
            </div>
        {{/unless}}
    {{/if_equal}}
</nav>
