node_modules
.env
/.idea/dictionaries/kaius.xml
/.idea/.gitignore
/.idea/GitlabLint.xml
/.idea/HK-Ainekursus.iml
/.idea/jsLibraryMappings.xml
/.idea/modules.xml
/.idea/prettier.xml
/.idea/vcs.xml
/coverage/base.css
/coverage/block-navigation.js
/coverage/favicon.png
/coverage/index.html
/coverage/prettify.css
/coverage/prettify.js
/coverage/sort-arrow-sprite.png
/coverage/sorter.js
/.nyc_output/processinfo/d18b4d1c-7555-426d-89bb-9c60b4aaecb8.json
/.nyc_output/processinfo/index.json
/.nyc_output/d18b4d1c-7555-426d-89bb-9c60b4aaecb8.json
/.idea/icon.svg
