
<!DOCTYPE html>
<html lang='et'>

  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />

    <link
      rel='stylesheet'
      href='https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200'
    />
    
    
    <!-- Static fails in /public folder.  -->

    <link rel='stylesheet' href='/css/main.css' />
    <style>
      /* main { opacity: 0; transition: opacity 1s; } */
    </style>

    <style>iframe{width: 1px;min-width: 100%;}</style>

    <!-- Sisuloome ja TLÜ Õppevara iframe'ide dynamic resize'mine -->
    <script src="https://sisuloome.e-koolikott.ee/modules/contrib/h5p/vendor/h5p/h5p-core/js/h5p-resizer.js" charset="UTF-8"></script>
    <script src="https://oppevara.tlu.ee/modules/contrib/h5p/vendor/h5p/h5p-core/js/h5p-resizer.js" charset="UTF-8"></script>

    <title>Haapsalu kolledži ainekursused | {{#if config.courseName}}
      {{config.courseName}}
    {{/if}}</title>
    
    <script src="/js/dmswitch.js" defer></script>
    <script src='/js/js.js' defer></script>
  </head>

<!-- Refers to header.handlebars fail in /partials folder -->
<header>
  {{> header }}
</header>

  <body
    onload="document.getElementById('main-content') .style.opacity='1'"
    class='min-h-screen flex flex-col justify-between m-0'
  >
    <a
      class='btn skip absolute left-[-1000px] mt-4 ml-4 px-4 py-2 bg-white'
      href='#main-content'
    >Liigu põhisisu juurde</a>

    <!-- body shows /views folder content, at the moment home.handlebars. -->
    {{{body}}}

    <script>
    function handleRadioClick(value) {
     //  console.log('value1:', value);
      document.getElementById("selectedVersion").value = value;
      document.getElementById("my-form").submit();
    }
    
    function handleCourseClick(team, courseSlug) {
      const formId = `overview-${team}-${courseSlug}`;
      // console.log('formId:', formId);
      document.getElementById(formId).submit();
      // console.log('team:', team);
      // console.log('courseSlug:', courseSlug);
      document.getElementById(`overview-${team}-${courseSlug}`).submit(); 
    }
    </script>


  </body>


<!-- Refers to footer.handlebars fail in /partials folder -->
<footer>
  {{> footer }}
</footer>

</html>