<html lang='et'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&family=Zilla+Slab:ital,wght@0,700;1,700&display=swap'
      rel='stylesheet'
    />
    <!-- Static faile hoiatakse /public kaustas.  -->

    <link rel='stylesheet' href='/css/main.css' />

    <title>Demo kursus</title>

  </head>
  <body class='min-h-screen flex flex-col justify-between'>
    <a href='#main-content'>Liigu põhisisu juurde</a>

    <!-- järgmine body kuvab /views kaustast ükskõik millist, hetkel ainult home.handlebars. 
    /views kausta võib lisada ka teistsuguse struktuuriga faile, mis erinevad home.handlebars vaatest. Nt kui mõnel lehevaatel ei taha näidata headerit/footerit, sidebari või midagi kolmandat, siis saab teha /views kausta uue .handlebars faili. -->
    {{{body}}}

  </body>
</html>