<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <script src='https://cdn.tailwindcss.com'></script>
    <!-- Tailwind conf in case of CDN use -->
    <script>
      tailwind.config = { theme: { extend: { colors: { primary: '#b71234',
      secondary: '#3c4445'} } } }
    </script>
    <!-- Static faile hoiatakse /public kaustas.  -->

    <link rel='stylesheet' href='/css/main.css' />

    <title>Demo kursus</title>

  </head>
  <body class='p-4'>
    <div>
      <!-- järgmine body kuvab /views kaustast ükskõik millist, hetkel ainult home.handlebars. 
    /views kausta võib lisada ka teistsuguse struktuuriga faile, mis erinevad home.handlebars vaatest. Nt kui mõnel lehevaatel ei taha näidata headerit/footerit, sidebari või midagi kolmandat, siis saab teha /views kausta uue .handlebars faili. -->
      {{{body}}}
    </div>

  </body>
</html>