<!-- Refer to header.handlebars fail in /partials folder -->
<header>
  {{> header }}
</header>
<div class="flex flex-row grow 2xl:justify-between overflow-x-hidden">
  <aside class="flex aside">

    <!-- sticky: sticky h-screen top-0 -->
    <!-- refers to side.handlebars fail in /partials folder -->
    {{> side.allcourses }}
    <button onclick='closeSideMenu()' class="flex items-center p-2 h-fit bg-neutral-100 rounded-r-lg">
    <i class="material-symbols-outlined cursor-pointer text-xxxl text-brand_red" aria-hidden="true">chevron_left</i>
    </button>
  </aside>

  <main id="main-content" class="w-full px-4 py-16">
 
    <!-- refers to content.handlebars fail in /partials folder -->
    {{> content.allcourses }}

  </main>
  <aside class="lg:hidden 2xl:block">
   
   
    <!-- Datepicker -->

    <!-- {{> calendar }} -->

  </aside>
</div>

<!-- refers to footer.handlebars fail in /partials folder -->
<footer >
  {{> footer }}
</footer>