<!-- course.handlebars -->
<div class="flex flex-row grow 2xl:justify-between overflow-x-hidden lg:overflow-x-clip">
  <aside class="flex aside">

    <!-- sticky: sticky h-screen top-0 -->
    <!-- Refers to sidebar-left-course.handlebars fail in /partials folder -->
    {{> sidebar-left.course }}
  </aside>

  <main id="main-content" class="w-full px-4 py-16">
 
    <!-- Refers to content.handlebars fail in /partials folder -->
    {{> content.course }}

  </main>
  <aside class="lg:hidden 2xl:block px-4 py-16">
   
    {{> sidebar-right.anchors }}

  </aside>
</div>