<!-- course.handlebars -->
<div class="side-btn-wrapper lg:hidden">
    <button id="left-side-button" onclick='panMainContentLeft()' class="flex items-center bg-button-default hover:bg-button-hover active:bg-button-active focus-visible:outline-system-focus focus-visible:border-solid focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 text-primary-100 py-4 pl-4 pr-8 rounded-r-full">
      <i class="material-symbols-outlined cursor-pointer text-xxxl text-brand_red  transition ease-in-out duration-1000" aria-hidden="true">chevron_left</i>
    Kursuse menüü</button>
    <button id="right-side-button" onclick='panMainContentRight()' class="flex items-center bg-button-default hover:bg-button-hover active:bg-button-active focus-visible:outline-system-focus focus-visible:border-solid focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 text-primary-100 py-4 pl-8 pr-4 rounded-l-full">Lehekülje menüü
      <i class="material-symbols-outlined cursor-pointer text-xxxl text-brand_red  transition ease-in-out duration-1000" aria-hidden="true">chevron_right</i>
    </button>
</div>

<div class="main-wrapper flex flex-row grow justify-between lg:px-6 lg:left-pan lg:right-pan">
  <aside class="left-side-menu">
    <!-- Refers to sidebar-left-course.handlebars fail in /partials folder -->
    {{> sidebar-left.course }}
  </aside>

  <main id="main-content" class="main px-4 py-16">
 
    <!-- Refers to content.handlebars fail in /partials folder -->
    {{> content.course }}

  </main>
  <aside class="right-side-menu p-2">
   
    {{> sidebar-right.anchors }}

  </aside>
</div>