<!-- dashboard-student -->
<div class="flex flex-row grow 2xl:justify-between overflow-x-hidden lg:overflow-x-clip">

  <main id="main-content" class="px-4 py-8 dashboard_content">
    {{#unless user }}  
      <h3 class='mt-4 ml-4'>Logi sisse, et näha töölauda</h3>
    {{/unless }}

    {{#if user }} 
      <div class="flex flex-row mt-4 gap-x-4 items-end">
        {{#if user.displayName }} 
          <h1>Tere, {{user.displayName}}!</h1>
        {{else}}
          <h1>Tere, {{user.username}}!</h2>
        {{/if }}
        {{!-- {{#if_not_equal user.team.slug 'teachers' }} 
          <h4>Mida täna õpime?</h4>
        {{/if_not_equal }} --}}
      </div>
      
      <div class="md:grid grid-cols-5 gap-12">
        <!-- refers to content.handlebars fail in /partials folder -->
        <div class="col-span-3">
          {{> dashboard-student.courses }} <br>
        </div>
        <div class="col-span-2">
          {{> dashboard-student.notifications }} <br>
          {{> dashboard-student.teacherCourses }} <br>
        </div>
      </div>
    {{/if }}

    {{!-- {{> dashboard-student.homework }} --}}

  </main>

</div>