<!-- Viitab header.handlebars failile /partials kaustas -->
<header class='bg-brand_black text-on_brand text-center'>
  {{> header }}
</header>
<div class="flex flex-col lg:flex-row grow">

  <aside class="h-full basis-2/12">
    <!-- sticky: sticky h-screen top-0 -->
    <!-- Viitab side.handlebars failile /partials kaustas -->
    {{> side.home }}
  </aside>

  <main id="main-content" class="p-16 basis-8/12">
    <!-- Viitab content.handlebars failile /partials kaustas -->
    {{> content.home }}

  </main>
  <aside class="basis-1/12">
   
   
    <!-- Datepicker -->

    {{> calendar }}

  </aside>
</div>

<!-- Viitab footer.handlebars failile /partials kaustas -->
<footer class="p-8 bg-brand_grey text-on_brand flex justify-center">
  {{> footer }}
</footer>