<!-- Viitab header.handlebars failile /partials kaustas -->
<header class='py-16 text-center'>
  {{> header }}
</header>
<div class="container mx-auto flex">
  <aside class="w-full sm:w-1/3 md:w-1/4 px-2">
    <!-- Viitab side.handlebars failile /partials kaustas -->
    {{> side }}
  </aside>

  <main class="w-full sm:w-2/3 md:w-3/4 pt-1 px-2">
    <!-- Viitab content.handlebars failile /partials kaustas -->
    {{> content }}
</div>

<!-- Viitab footer.handlebars failile /partials kaustas -->
{{> footer }}
