<!-- Refers to header.handlebars fail in /partials folder -->
<header>
  {{> header }}
</header>
<div class="flex flex-col lg:flex-row grow 2xl:justify-between">

  <aside class="flex">
    


    <button onclick='closeSideMenu()' class="flex items-center ml-4 lg:hidden pt-4 course_menu">
    <i class="material-symbols-outlined lg:mt-auto cursor-pointer text-4xl" aria-hidden="true">arrow_circle_right</i>
    <span class="font-bold ml-1">Kursuse menüü</span>
    </button>




    <!-- sticky: sticky h-screen top-0 -->
    <!-- Refers to side.handlebars fail in /partials folder -->
    {{> side.home }}
  </aside>

  <main id="main-content" class="w-full px-4 py-16 md:px-16 md:py-8 lg:p-8 xl:px-16 xl:py-8">
 
    <!-- Refers to content.handlebars fail in /partials folder -->
    {{> content.home }}

  </main>
  <aside class="lg:hidden 2xl:block">
   
   
    <!-- Datepicker -->

    <!-- {{> calendar }} -->

  </aside>
</div>

<!-- Refers to footer.handlebars fail in /partials folder -->
<footer>
  {{> footer }}
</footer>