<!-- Viitab header.handlebars failile /partials kaustas -->
<header class='bg-brand_black text-on_brand text-center'>
  {{> header }}
</header>
<div class="flex flex-col lg:flex-row grow 2xl:justify-between">

  <aside class="h-full w-72">
    


    <button onclick='closeSideMenu()' class="flex items-center ml-4 lg:hidden pt-4">
    <i class="material-symbols-outlined lg:mt-auto cursor-pointer text-4xl" aria-hidden="true">arrow_circle_right</i>
    <span class="font-bold ml-1">Kursuse menüü</span>
    </button>




    <!-- sticky: sticky h-screen top-0 -->
    <!-- Viitab side.handlebars failile /partials kaustas -->
    {{> side.home }}
  </aside>

  <main id="main-content" class="px-4 py-16 md:px-16 md:py-8 lg:p-8 xl:px-16 xl:py-8">
 
    <!-- Viitab content.handlebars failile /partials kaustas -->
    {{> content.home }}

  </main>
  <aside class="lg:hidden 2xl:block">
   
   
    <!-- Datepicker -->

    {{> calendar }}

  </aside>
</div>

<!-- Viitab footer.handlebars failile /partials kaustas -->
<footer class="p-8 bg-brand_grey text-on_brand flex justify-center">
  {{> footer }}
</footer>