  <main id="main-content" class="greeting relative">
    <div class=''>
    <a href='/' class=''>
      <img
        class=" w-1/4"
        src='/images/logo-on-dark.svg'
        alt='Tallinna Ülikooli logo'
      />
    </a>
  </div>
    <div class=" grid grid-cols-3 grid-rows-none gap-8 p-4">
      <div class="col-span-2" >
      <h1 class="display-big">Haapsalu kolledži e&#x2011õppe keskkond</h1>
      </div>
      <div class="col-span-1">
      <h2 class="display-sub-serif">Tere tulemast kolledži ainekursuste veebi</h2>
      <p>Kui Sa oled kolledži üliõpilane, siis logi sisse oma Githubi kasutajanimega:</p>
      <form action="/login" method="post" class="input-w-button">
          <input class="input-single pr-[calc(6ch+3rem)]" name="login" type="text" placeholder="Githubi kasutajanimi"/>
          <button class="btn btn-primary" type="submit" value="Sisene"/>Sisene</button>
      </form>
      {{#if message}}
        <p style="color:red;">{{message}}</p>
      {{/if }}

      <h3 class="display-sub-sans">Kui Sa ei ole veel kolledži üliõpilane,</h3>
      <p>siis tutvu allpool oleva lühikese kirjeldusega, miks astuda juba järgmisel aastal Haapsalu kolledžisse õppima informaatikat, disaini, tervisekasvatust või liikluskorraldust.</p>
      </div>
    </div>  
  </main>
