<div class="container pt-4">
  <h1>Riistvara ja operatsioonisüsteemide alused HKI5085.HK</h1>
  <div class="progress-bar pt-3">
    <progress id="course-progress" value="32" max="100" style="width:100%"> 32% </progress>
  </div><br>

  <div class="row justify-content-md-center"></div>
    <div class="row" >
      <div class="sidebar col-4">
        <div class="pt-5">
          <div class="sidebar-chapters" id="chapters">
            <h3>Sisukord</h3>
            <div class="row" >
              <div class="col-9">

                <div class="accordion accordion-flush" id="accordionFlushExample">
                  <div class="accordion-item" >
                    <h2 class="accordion-header" id="flush-headingZero">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseZero" aria-expanded="false" aria-controls="flush-collapseZero">
                        Sissejuhatus
                      </button>
                    </h2>
                    <div id="flush-collapseZero" class="accordion-collapse collapse" aria-labelledby="flush-headingZero" data-bs-parent="#accordionFlushExample">
                      <ul style="list-style-type: none">
                        <li><a href="" style="text-decoration:none;">Aine kirjeldus</a></li>
                        <li><a href="" style="text-decoration:none;">Õpiväljundid</a></li>
                        <li><a href="" style="text-decoration:none;">Hindamine</a></li>
                       </ul>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Loeng 1
                      </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                      <div class="row" >
                        <div class="col-8">
                          <ul style="list-style-type: none">
                            <li><a href="" style="text-decoration:none;">Arvutid</a></li>
                            <li><a href="" style="text-decoration:none;">Protsessorid</a></li>
                            <li><a href="" style="text-decoration:none;">Mälud</a></li>
                          </ul>
                        </div>
                        <div class="col-4">
                          <ul style="font-weight: 800; list-style-type: none; color: rgb(3, 200, 3)">
                            <li>✓</li>
                            <li>✓</li>
                            <li></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        Loeng 2
                      </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                      <div class="row" >
                        <div class="col-8">
                          <ul style="list-style-type: none">
                            <li><a href="" style="text-decoration:none;">Ekraanid</a></li>
                            <li><a href="" style="text-decoration:none;">Klaviatuurid</a></li>
                            <li><a href="" style="text-decoration:none;">Hiired</a></li>
                          </ul>
                        </div>
                        <div class="col-4">
                          <ul style="font-weight: 800; list-style-type: none; color: rgb(3, 200, 3)">
                            <li>✓</li>
                            <li>✓</li>
                            <li>✓</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

<br><br>  

            <h3>Sisukord v2</h3>
            <div class="row" >
              <div class="col-8">

                <ul style="font-weight: 800; list-style-type: none">
                  <li>01. Sissejuhatus</li>
                  <li>02. Loeng 1</li>
                  <li>03. Loeng 2</li>
                  <li>04. Praktikum</li>
                </ul>
              </div>
              <div class="col-4">
                <ul style="font-weight: 800; list-style-type: none; color: rgb(3, 200, 3)">
                  <li>✓</li>
                  <li>✓</li>
                  <li></li>
                  <li></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="sidebar-files pt-3" id="files">
            <h5>Failid</h5>
            <ul style="list-style-type: none;">
              <li>fail_x.pdf</li>
              <li>fail_xx.pdf</li>
            </ul>
          </div>
          <div class="sidebar-bookmarks pt-3" id="bookmarks">
            <h5>Märkmed/järjehoidjad</h5>
            <ul style="list-style-type: none">
              <li>Järjehoidja, mis räägib ühest asjast</li>
              <li>Järjehoidja, mis räägib teisest asjast</li>
              <li>Järjehoidja, mis räägib kolmandast asjast</li>
            </ul>
          </div>
          <div class="sidebar-readme pt-3" id="sidebar-readme">
            <h5>Muud lehed</h5>
            <ul style="list-style-type: none">
              <li><a href="/readme">Readme</a></li>
            </ul>
          </div>
          <div class="sidebar-readme pt-3" id="sidebar-readme">
            <h5>Riistvara lingid</h5>
            <ul style="list-style-type: none">
              <li><a href="/kursusest">Kursusest</a></li>
              <li><a href="/hindamine">Hindamine</a></li>
              {{#each concepts}}
                <li><a href="/{{this.slug}}">{{this.name}}</a></li>
              {{/each}}
          </ul>
          </div>
        </div>
      </div>
      
      <div class="col-8">
        <h4 style="display: inline-block; color: rgb(186, 186, 186)">Loeng 1  -  </h4>
        <h2 style="display: inline-block">Arvutid</h2><br>
        <img src="https://nono-c.com/wp-content/uploads/2019/03/video-placeholder.jpg" alt="" style="max-height:400px; max-width:600px;">
        <div class="chapter">
          <div class="chapter-content pt-4">
            <h3>Peatüki kirjeldus</h3>
            <h5>Peatüki lõpetamise tähtaeg</h5>
            <p>There it is. We don't have anything but happy trees here. Little trees and bushes grow however makes them happy. Anytime you learn something your time and energy are not wasted. We don't make mistakes we just have happy little accidents. We'll make some happy little bushes here. Be so very light. Be a gentle whisper. If you overwork it you become a cloud killer. There's nothing worse than a cloud killer. Put your feelings into it, your heart, it's your world. Let the paint work. If you don't like it - change it. It's your world. Pretend you're water. Just floating without any effort. Having a good day. Any little thing can be your friend if you let it be. If I paint something, I don't want to have to explain what it is. I get carried away with this brush cleaning.</p>
          </div>
          <div class="chapter-upload pt-4">
            <h3>Lae oma töö siia:</h3>
            <input type="file">
          </div>
          <div class="chapter-comments pt-4 pb-4">
            <h3>Kommentaarid:</h3>
          </div>

        </div>
        <div class="navigation-buttons d-flex justify-content-center" >
          <button type="button" style="background-color: rgb(178, 178, 178); color: white; black; border: 1px solid; padding: 10px" >Eelmine</button> 
          <button type="button" style="background-color: rgb(3, 200, 3); color: white; border: 1px solid; padding: 10px" >Märgi tehtuks (liigu edasi)</button> 
        </div>
        
        <br><br>
      </div>

    </div>
    
    
  </div>
</div>

