body {
  @apply bg-page-background text-text;
  background-position-x: right;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* .dark-theme body {
  background-image: url(/images/dark_bg.jpg);
  background-attachment: fixed;
  background-position: right -11rem top -1rem;
} */
/* .dark-theme body{
  background-image: radial-gradient( circle, rgba(14, 2, 25, 1) 0%, rgba(14, 2, 25, 0) 29% ), conic-gradient( from 133deg at calc(100% - 6rem) 5rem, rgba(14, 2, 25, 1) 0%, rgba(24, 8, 46, 1) 25%, rgba(78, 28, 148, 1) 50%, rgba(23, 8, 45, 1) 75%, rgba(14, 2, 25, 1) 99% );
} */

.dark-theme body, .light-theme body {
background-size: 100% 100%;
background-position: 0px 0px;
background-image: conic-gradient(from 166deg at calc(100% - 3rem) 4rem, #0E0219 0%, #18082E 27%, #4E1C94 41%, #17082D 80%, #0E0219 94%);
}

.dark-theme body:before, .light-theme body::before {
  content: '';
    position: fixed !important;
    right: -1rem;
    top: -1rem;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(/images/jooned-sisu.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: calc(100% + 1rem) -1rem;
    opacity: 0.5;
}
.light-theme body::before {
  filter: invert(1) hue-rotate(330deg) saturate(0.3) contrast(1.3);
    opacity: 0.9;
}
.dark-theme body:after, .light-theme body::after {
  content: '';
    position: fixed !important;
    right: -1rem;
    top: -1rem;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(/images/noise.png);
    background-attachment: fixed;
    background-position: calc(100% + 1rem);
    opacity: 0.4;
    z-index: -1;
}
.light-theme body::after {
  opacity: 0.3;
    filter: hue-rotate(127deg);
}
/* .light-theme body {
  background-image: url(/images/light_bg.jpg);
  background-attachment: fixed;
  background-position: right -11rem top -1rem;
}
@media (min-width: 1024px) {

  .light-theme body {
    background-position: right -85px top;
  }
} */


