.dark-theme .logo-on-light {
  display: none;
}
.light-theme .logo-on-dark {
  display: none;
}

header {
  position: fixed;
  z-index: 3;
  width: 100%;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

header::before {
  content: '';
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: right -11rem top -1rem;
  background-repeat: no-repeat;
  background-color: var(--page-background);
}
@media (min-width: 1024px) {
  header::before {
    background-position: right -85px top;
  }
}
.dark-theme header::before {
  background-image: url(/images/dark_bg.jpg);
}
.light-theme header::before {
  background-image: url(/images/light_bg.jpg);
}

/* menu */
.menu-zero {
  top: 0 !important;
  height: 100vh;
  @apply bg-page-background;
}
