@import 'dark.css';
@import 'light.css';

.card {
  position: relative;
  padding: 1rem;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  box-shadow: var(--drop-shadow-x) var(--drop-shadow-y) var(--drop-shadow-blur)
    var(--drop-shadow-color);
}

.dark-theme .card::before,
.light-theme .card::before {
  content: '';
  display: block;
  background-image: var(--card-background);
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 0.5rem;
  border-width: 2px;
  border-style: solid;
  border-color: var(--card-stroke);
  z-index: -1;
  opacity: 0.5;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.light-theme .card::before {
  opacity: 0.1;
}
.card.cardlink {
  cursor: pointer;
}
.dark-theme .card.cardlink:hover {
  box-shadow: 0 0 22px var(--link-active);
  border-radius: 1rem;
}
.dark-theme .card.cardlink:active {
  box-shadow: 0 0 22px var(--link-active);
}
.dark-theme .card.cardlink:active::before {
  opacity: 0.2;
  border-radius: 1rem;
}
