.first-page body {
  background-image: url(/images/jooned.svg),

  radial-gradient(circle, rgba(14,2,25,1) 0%, rgba(14,2,25,0) 29%),
    conic-gradient(
      from 133deg at center center,
      rgba(14, 2, 25, 1) 0%,
      rgba(24, 8, 46, 1) 25%,
      rgba(78, 28, 148, 1) 50%,
      rgba(23, 8, 45, 1) 75%,
      rgba(14, 2, 25, 1) 99%
    );
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
  @apply text-primary-100;
  background-attachment: fixed;
}

.first-page main:before {
  content: '';
    position: absolute;
    height: 44rem;
    background-image: url(/images/kolledz.png);
    background-repeat: no-repeat;
    background-position: 15% center;
    mix-blend-mode: hard-light;
    background-size: auto 98%;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0.7;
}

.greeting {
  width: 56rem;
  margin: 5rem auto !important;
}