/* Custom styles for the modal */
.custom-modal {
    display: none;
}

.custom-backdrop {
    background: rgba(255, 255, 255, 0.27);
}

.custom-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.custom-modal .card {
    background-color: var(--button-default);
}