html {
  scroll-behavior: smooth;
}

.dashboard_content {
  max-width: 100%;
  width: 65rem;
  margin: 0 auto;
}

/* only for designsystem demo */

pre[class*='language-'] {
  margin: 0 !important;
}
/* if we want to wrap code element text */
code {
  white-space: pre-wrap !important; /* css-3 */
  white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
  white-space: -pre-wrap !important; /* Opera 4-6 */
  white-space: -o-pre-wrap !important; /* Opera 7 */
  word-wrap: break-word !important;
}
