html {
  scroll-behavior: smooth;
}

main {
  margin-top: 7rem !important;
}

.dashboard_content {
  max-width: 100%;
  width: 80rem;
  margin: 0 auto;
}
.reading_content {
  max-width: 70ch;
  margin: 0 auto;
}

/* sticky table */
.headers {
  top: 8rem;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
}
.scroller {
  overflow-x: hidden;
}
.tracks,
.scroller {
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}
.tracks {
  overflow: auto;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
}
.grid {
  display: grid;
  grid-template-columns: repeat(5, 250px);
  grid-template-rows: repeat(3, 50px);
  overflow-x: auto;
}

.cell {
  border: 1px solid;
  box-sizing: border-box;
  @apply border-neutral-400;
}

.cell.fix {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 1;
}

.tracks::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 7px;
}
.tracks::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.hoverrow:hover .hoverrowchild {
  @apply bg-table-hover-cell;
}

pre {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  border-radius: 0.25rem;
  background-color: var(--neutral-800, #414a58);
  color: var(--neutral-100, #f4f5f7);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
}

/* if we want to wrap code element text */
code {
  white-space: pre-wrap !important; /* css-3 */
  white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
  white-space: -pre-wrap !important; /* Opera 4-6 */
  white-space: -o-pre-wrap !important; /* Opera 7 */
  word-wrap: break-word !important;
}

@layer components {
  .side-btn-wrapper {
    @apply top-28 sticky z-[2] flex justify-between w-full;
  }
  /*   .sidebar {
    @apply top-[194px] lg:top-0 w-72;
  }
  .sidebar.menu-zero {
    @apply top-[194px] lg:top-0 left-0 z-10;
  }
  .aside.menu-zero {
    @apply -ml-72 lg:ml-0 lg:-left-72 lg:relative;
  } */

  /* to hide overwlof but keep sticky working */
.main-wrapper {
  contain: paint;
}


  aside {
    @apply break-words;
  }

  .main {
    @apply w-full lg:w-[70ch] relative right-0 left-0 lg:!left-auto lg:!right-auto;
    transition: all .5s ease-in-out;
  }
  .left-side-menu {
    @apply w-72 -ml-72 lg:ml-0 relative left-0;
    transition: all .5s ease-in-out;
  }
  .right-side-menu {
    @apply w-72 -mr-72 lg:mr-0 relative right-0;
    transition: all .5s ease-in-out;
  }
  

  .left-pan .main {
    @apply relative -right-72 left-72 lg:inset-0 lg:left-auto;
  }
  .left-pan .left-side-menu {
    @apply relative left-72 lg:left-0 lg:inset-0;
  }

  .right-pan .main {
    @apply relative -left-72;
  }
  .right-pan .right-side-menu {
    @apply relative right-72 lg:right-0;
  }
  

  

  pre {
    @apply bg-neutral-800 pt-6 px-4 pb-2 rounded whitespace-pre-wrap break-words;
  }

  /*--------------------------- end of sidebar tab's -------------------------------*/
  .breadcrumb {
    @apply flex items-start gap-1 pb-8;
  }
  .breadcrumb > * {
    @apply whitespace-nowrap text-ellipsis inline-block overflow-hidden;
  }
}

a.table-of-contents {
  line-height: 1.5rem;
}
/* those padding and margin are for correct placement, if someone clics on anchor links in the page and contenbt scrolls to top */
.markdown-wrapper {
  padding-top: 10rem;
  margin-top: -10rem;
}

.iframe-container {
  margin-bottom: 2rem;
}

/* article formattings */

ul.markdown {
  list-style-type: inherit;
  -webkit-margin-before: 1em;
  margin-block-start: 1em;
  -webkit-margin-after: 2em;
  margin-block-end: 2em;
  padding-left: 1rem;
}
.markdown li {
  padding-left: 0.5rem;
  margin-bottom: 0.5rem;
}
