.light-theme {
  --active-menu-stroke-on: linear-gradient(204deg, #f2f8fd29 0%, #f2fcfd00 100%);
  --text: #414a58;
  --link: #2b313b;
  --link-idle: #5c6470;
  --link-action: #80609f;
  --card-background: linear-gradient(194deg, #a57e4322 0%, #4f453622 100%);
  --menu-item-background: linear-gradient(194deg, #5d4e39 0%, #a57e43 100%);
  --menu-background: linear-gradient(232deg, #9e7942 0%, #645b4e 100%);
  --menu-card-background: linear-gradient(232deg, #9e794222 0%, #645b4e22 100%);
  --menu-card-stroke: linear-gradient(180deg, #f2f8fd29 0%, #f2fcfd00 100%);
  --menu-item-background-stroke: linear-gradient(204deg, #f2f8fd29 0%, #f2fcfd00 100%);
  --link-active: #4d2e6b;
  --link-hover: #80609f;
  --page-background: #FAFCFF;
  --button-default: #80609f;
  --button-hover: #664d80;
  --button-active: #4d2e6b;
  --button-focus: #80609f;
  --button-disabled: #abb1ba;
  --button-secondary-default: #80609f;
  --button-secondary-label-default: #414a58;
  --button-secondary-hover: #664d80;
  --button-secondary-active: #4d2e6b;
  --button-secondary-focus: #80609f;
  --button-secondary-disabled: #abb1ba;
  --button-link: #4d2e6b;
  --button-link-hover: #664d80;
  --button-link-active: #80609f;
  --table-cell: #FAFCFF;
  --table-header-cell: #e6dfec;
  --table-hover-cell: #f2eff5;
  --card-stroke: #E2D9CF;
  --card-hover-shadow-x: 0;
  --card-hover-shadow-y: 0;
  --card-hover-shadow-blur: 22;
  --card-hover-shadow-spread: 0;
  --card-hover-shadow-color: #c7cbd1;
  --card-hover-shadow-type: dropShadow;
  --stroke: #E2D9CF;
  --drop-shadow-x: 4;
  --drop-shadow-y: 4;
  --drop-shadow-blur: 11;
  --drop-shadow-spread: 0;
  --drop-shadow-color: #05020811;
  --drop-shadow-type: dropShadow;
  --radio-shadow-x: 0;
  --radio-shadow-y: 5px;
  --radio-shadow-blur: 7px;
  --radio-shadow-spread: 0;
  --radio-shadow-color: #2b313b70;
  --radio-shadow-type: innerShadow;
  --radio-shadow-hover-x: 0;
  --radio-shadow-hover-y: 0;
  --radio-shadow-hover-blur: 22px;
  --radio-shadow-hover-spread: 0;
  --radio-shadow-hover-color: #8f97a3;
  --radio-shadow-hover-type: dropShadow;
}