@tailwind base;
@tailwind components;
@tailwind utilities;

.mobileheight {
  height: calc(100% - 149px);
}

@layer components {
  .sidebar {
    @apply bg-brand_red text-white mobileheight lg:h-full text-sm top-[194px] lg:top-0 lg:!w-72;
  }
  .sidebar.menu-zero {
    @apply top-[194px] lg:top-0 left-0 z-10;
  }
  .btn {
    @apply py-2 px-4 rounded-full cursor-pointer;
  }
  .btn-primary {
    @apply bg-primary-700 hover:bg-primary-800 text-white;
  }
  .btn-secondary {
    @apply bg-secondary-500 hover:bg-secondary-600 text-white;
  }
  /*--------------------------- accordion components ---------------------------*/

  .tab-close {
    @apply flex justify-end p-4 cursor-pointer bg-secondary-700;
  }
  .tabs {
    @apply overflow-hidden;
  }
  .tab {
    @apply overflow-hidden w-full;
  }
  .tab-label {
    @apply flex justify-between p-4 bg-primary-800 hover:bg-primary-900 font-bold cursor-pointer;
  }
  .tab-content {
    @apply max-h-0 py-0 px-4 bg-primary-100 text-secondary-900 transition-all;
  }
  .active-tab .tab-label,
  input:checked + .tab-label {
    @apply bg-primary-600;
  }
  .active-tab .tab-label::after,
  input:checked + .tab-label::after {
    @apply rotate-90;
  }
  input:checked ~ .tab-label {
    @apply max-h-screen p-4;
  }
  .tab-label::after {
    @apply content-['\276F'] w-4 h-4 text-center transition-all;
  }
  /* opened accordion. If only with input:chekced: input:checked ~ .tab-content */
  .active-tab .tab-content,
  input:checked ~ .tab-content {
    @apply max-h-screen p-4;
  }
  .sidebar input {
    @apply absolute opacity-0 -z-10;
  }
}
/*--------------------------- end of sidebar tab's -------------------------------*/

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
  padding-top: 1px;
}

a {
  text-decoration: underline;
}

.skip:focus {
  left: 0;
}
/* to keep sidebar in same level when it's clodes and when is open */
.menu-zero {
  top: 0;
  left: 0;
  z-index: 20;
}

.reading_content {
  max-width: 70ch;
  margin: 0 auto;
}

/* List and links stiles with classname "markdown".
"markdown" class will added in src/setup/SetupMarkdown.js
*/
ul.markdown {
  list-style: disc;
  margin-left: 40;
}
a.markdown {
  color: #0000ee;
}
a.markdown:visited {
  color: #551a8b;
}

/*
Markdown styling
*/
.markdown-wrapper {
  display: flex;
  align-items: baseline;
  gap: 10px;
}
.header-anchor {
  display: none;
}
.markdown-wrapper:hover .header-anchor {
  display: block;
}
