@tailwind base;
@tailwind components;
@tailwind utilities;

.mobileheight {
  height: calc(100% - 149px);
}

@layer components {
  .sidebar {
    @apply bg-neutral-100 mobileheight lg:h-full top-[194px] lg:top-0 !w-[22rem];
  }
  .sidebar.menu-zero {
    @apply top-[194px] lg:top-0 left-0 z-10;
  }
  .btn {
    @apply py-2 px-4 rounded-full cursor-pointer;
  }
  .btn-primary {
    @apply bg-neutral-500 hover:bg-neutral-900 text-white;
  }
  .btn-secondary {
    @apply bg-white border-2 border-neutral-300 hover:bg-neutral-100;
  }

  a,
  a.markdown {
    @apply !text-neutral-600;
  }

  pre {
    @apply bg-neutral-800 text-white pt-6 px-4 pb-2 rounded whitespace-pre-wrap;
  }
  /*--------------------------- accordion components ---------------------------*/

  .tab-close {
    @apply flex justify-end p-4 cursor-pointer bg-secondary-700;
  }
  .tabs {
    @apply overflow-hidden;
  }
  .tab {
    @apply overflow-hidden w-full;
  }
  .tab-label,
  .no-tab-label {
    @apply flex justify-between bg-neutral-100 hover:bg-neutral-200 font-bold cursor-pointer px-4;
  }
  .tab-content {
    @apply max-h-0 py-0 pl-8 px-4 bg-white text-secondary-900 transition-all;
  }
  .active-tab .no-tab-label,
  .active-tab .tab-label {
    @apply bg-neutral-200;
  }
  .active-tab-content,
  .tab-content:hover,
  input:checked + .tab-label {
    @apply bg-brand_red;
  }
  .active-tab-content *,
  .tab-content:hover * {
    @apply !text-white;
  }
  .active-tab .tab-label:hover {
    @apply bg-neutral-200;
  }
  .active-tab .tab-label::after,
  input:checked + .tab-label::after {
    @apply rotate-90;
  }
  .active-tab .tab-content,
  .tab-label {
    @apply border-b border-neutral-200;
  }
  .tab-label::after {
    @apply mt-3;
  }
  input:checked ~ .tab-label {
    @apply max-h-screen;
  }
  .tab-label::after {
    @apply content-['\276F'] w-4 h-4 text-center transition-all;
  }
  .active-tab .tab-label::after {
    @apply hidden;
  }
  /* opened accordion. If only with input:chekced: input:checked ~ .tab-content */
  .active-tab .tab-content,
  input:checked ~ .tab-content {
    @apply max-h-screen;
  }
  .sidebar input {
    @apply absolute opacity-0 -z-10;
  }
  /*--------------------------- end of sidebar tab's -------------------------------*/
  .aside.menu-zero {
    @apply ml-[-21.5rem];
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
  padding-top: 1px;
}

a {
  text-decoration: underline;
}

.skip:focus {
  left: 0;
}
/* to keep sidebar in same level when it's clodes and when is open */
.menu-zero {
  top: 0;
  left: 0;
}
.menu-zero i {
  transform: rotate(180deg);
}
.aside {
  margin-left: inherit;
  transition: all 1s;
}

.reading_content {
  max-width: 70ch;
  margin: 0 auto;
}

/* List and links stiles with classname "markdown".
"markdown" class will added in src/setup/SetupMarkdown.js
*/
ul.markdown {
  list-style: disc;
  margin-left: 40;
}
a.markdown {
  color: #0000ee;
}
a.markdown:visited {
  color: #551a8b;
}

/*
Markdown styling
*/
.markdown-wrapper {
  display: flex;
  align-items: baseline;
  gap: 10px;
}
.header-anchor {
  display: none;
}
.markdown-wrapper:hover .header-anchor {
  display: block;
}

/**
 * Smooth scrolling on the whole document
 */
html {
  scroll-behavior: smooth;
}

/* google search input */
.gsc-control-cse {
  background-color: transparent !important;
  border: 1px solid transparent !important;
  margin-top: 1rem;
}
.gsc-control-cse {
  padding: 0 !important;
}
form.gsc-search-box {
  margin-bottom: 6px !important;
  padding-left: 34px !important;
}
table.gsc-search-box td.gsc-input {
  padding-right: 0 !important;
}
.gsc-search-button {
  margin-left: 0 !important;
}

.gsc-search-button-v2 {
  padding: 8px 12px !important;
  border: 1px solid #fff !important;
  border-radius: 0 1rem 1rem 0 !important;
  height: 2rem;
  background-color: #fff !important;
}
.gsc-search-button-v2:hover {
  background-color: #fff !important;
}
.gsc-input-box {
  border: 0 !important;
  height: 2rem !important;
  display: flex;
  align-items: center;
  border-radius: 1rem 0 0 1rem;
}
.gsc-search-button-v2 svg {
  fill: #30373e !important;
  width: 1rem !important;
  height: 1rem !important;
}
.gsc-input-box {
  width: 8.5rem;
}
.gsib_a {
  padding: 5px 9px 4px 16px !important;
}

/* Progressbar */

progress::-webkit-progress-bar {
  @apply bg-neutral-200;
}
progress::-webkit-progress-value {
  @apply bg-brand_red;
}
progress {
  @apply w-full;
}

/* navbar accent shape */
